%deafult-text-layout {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
    @extend  %deafult-text-layout;
    background: #fff;
    min-width: 400px;
}

div[class=main-container] {
    display: flex;
    flex-direction: column; //items are aligned in a colum
    height: 100%;
}

div[class=nav-container] {
    flex-shrink: 0; //prevent it form shrinking rather it siblings will.
    box-sizing: border-box; //padding and margin(border) included in size specified 
    height: 60px;
    display: flex;
    align-items: center;
    padding: 6px;

    .navbar {
        display: inline-block;
        flex-grow: 1; // To fill parent
    }

    .links-container {
        color: black;
        position: relative;
        transition: box-shadow 250ms;
        height: 48px;
        font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
        z-index: 986;
        min-width: auto;
    }
    
    .links {
        vertical-align: middle;
        white-space: nowrap;
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        box-sizing: border-box;
        height: 48px;
        line-height: normal;
        padding: 0 4px;
        flex: 0 0 auto; // Takes effect when three items
        justify-content: flex-end;
        float: right;
        padding-left: 0;
    }

    .wrapper {
        font-family: arial,sans-serif;
        line-height: normal;
        padding-right: 15px;
    }

    .lnk {
        display: inline-block;
        padding-left: 15px;

        a {
            color: rgba(0,0,0,0.87);
            text-decoration: none;
            display: inline-block;
            line-height: 24px;
            vertical-align: middle;

            &:hover {
                text-decoration: underline;
            }
        }
    }

}


div[class=logo-container] {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 290px;
    height: calc(100% - 560px);
    min-height: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .img-container{
        height: 100%;
        margin-top: auto;
        max-height: 92px;
        
    }

    img {
        height: 92px;
        aspect-ratio: auto 272 / 92;
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center bottom;
        width: auto;
    }
}

div[class=form-container] {
    flex-shrink: 0;
    box-sizing: border-box;
    max-height: 160px;
    padding: 20px;

    .container {
        .content {
            position: relative;
            margin: 0 auto;
            padding-top: 6px;
            width: auto;
            max-width: 584px;
        }

        .btn-div {
            padding-top: 18px;
            top: 53px;
            z-index: 0;
            height: 70px;

            .btn {
                background-color: #f8f9fa;
                border: 1px solid #f8f9fa;
                border-radius: 4px;
                color: #3c4043;
                font-family: arial,sans-serif;
                font-size: 14px;
                margin: 11px 4px;
                padding: 0 16px;
                line-height: 27px;
                height: 36px;
                min-width: 54px;
                text-align: center;
                cursor: pointer;
                user-select: none;

                &:hover {
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) ;
                    background-color: #f8f9fa;
                    border: 1px solid #dadce0;
                    color: #202124;}
            }
        }

        .input-fields {
            background: #fff;
            display: flex;
            border: 1px solid #dfe1e5;
            box-shadow: none;
            border-radius: 24px;
            z-index: 3;
            height: 44px;
            margin: 0 auto;
            width: auto;
            max-width: 584px;


            &:hover {    
                background-color: #fff;
                box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
                border-color: rgba(223,225,229,0);
            }

            .content {
                flex: 1;
                display: flex;
                padding: 5px 8px 0 16px;
                padding-left: 14px;
            }

            .search-icon-div {
                display: flex;
                align-items: center;
                padding-right: 13px;
                margin-top: -5px;
            }

            .icon {
                margin: auto;
                span {
                    font-size: 14px;
                    font-family: arial,sans-serif;
                    display: inline-block;
                    fill: currentColor;
                    line-height: 24px;
                    position: relative;
                    margin-top: 3px;
                    color: #9aa0a6;
                    height: 20px;
                    width: 20px;

                    svg {
                        fill: currentColor;
                        line-height: 24px;
                        color: #9aa0a6;
                        display: block;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .search-input-div {
                display: flex;
                flex: 1;
                flex-wrap: wrap;

                .container {
                    color: transparent;
                    flex: 100%;
                    white-space: pre;
                    height: 34px;
                }
                .search-input {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 0;
                    color: rgba(0,0,0,.87);
                    outline: none;
                    display: flex;
                    flex: 100%;
                    -webkit-tap-highlight-color: transparent;
                    margin-top: -37px;
                    height: 34px;
                    font-size: 16px;
                }
            
            }

            .mic-div {
                display: flex;
                flex: 0 0 auto;
                margin-top: -5px;
                align-items: stretch;
                flex-direction: row;
            
                .icon {
                    flex: 1 0 auto;
                    display: flex;
                    cursor: pointer;
                    align-items: center;
                    border: 0;
                    background: transparent;
                    outline: none;
                    padding: 0 8px;
                    width: 24px;
                    line-height: 44px;

                }
                
                .mic {
                    cursor: pointer;
                    line-height: 44px;
                    height: 24px;
                    width: 24px;
                    vertical-align: middle;
                }
            }

        }
    }
}

div[class=lang-container] {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    flex-shrink: 0;
    box-sizing: border-box;
    flex-grow: 1;
}

div[class=footer-container] {
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    flex-shrink: 0;
    box-sizing: border-box;
    background: #f2f2f2;
    
}




