body {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222; }

body, html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  background: #fff;
  min-width: 400px; }

div[class=main-container] {
  display: flex;
  flex-direction: column;
  height: 100%; }

div[class=nav-container] {
  flex-shrink: 0;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 6px; }
  div[class=nav-container] .navbar {
    display: inline-block;
    flex-grow: 1; }
  div[class=nav-container] .links-container {
    color: black;
    position: relative;
    transition: box-shadow 250ms;
    height: 48px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    z-index: 986;
    min-width: auto; }
  div[class=nav-container] .links {
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding: 0 4px;
    flex: 0 0 auto;
    justify-content: flex-end;
    float: right;
    padding-left: 0; }
  div[class=nav-container] .wrapper {
    font-family: arial,sans-serif;
    line-height: normal;
    padding-right: 15px; }
  div[class=nav-container] .lnk {
    display: inline-block;
    padding-left: 15px; }
    div[class=nav-container] .lnk a {
      color: rgba(0, 0, 0, 0.87);
      text-decoration: none;
      display: inline-block;
      line-height: 24px;
      vertical-align: middle; }
      div[class=nav-container] .lnk a:hover {
        text-decoration: underline; }

div[class=logo-container] {
  flex-shrink: 0;
  box-sizing: border-box;
  max-height: 290px;
  height: calc(100% - 560px);
  min-height: 92px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  div[class=logo-container] .img-container {
    height: 100%;
    margin-top: auto;
    max-height: 92px; }
  div[class=logo-container] img {
    height: 92px;
    aspect-ratio: auto 272 / 92;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto; }

div[class=form-container] {
  flex-shrink: 0;
  box-sizing: border-box;
  max-height: 160px;
  padding: 20px; }
  div[class=form-container] .container .content {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: auto;
    max-width: 584px; }
  div[class=form-container] .container .btn-div {
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    height: 70px; }
    div[class=form-container] .container .btn-div .btn {
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none; }
      div[class=form-container] .container .btn-div .btn:hover {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        background-color: #f8f9fa;
        border: 1px solid #dadce0;
        color: #202124; }
  div[class=form-container] .container .input-fields {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: auto;
    max-width: 584px; }
    div[class=form-container] .container .input-fields:hover {
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
      border-color: rgba(223, 225, 229, 0); }
    div[class=form-container] .container .input-fields .content {
      flex: 1;
      display: flex;
      padding: 5px 8px 0 16px;
      padding-left: 14px; }
    div[class=form-container] .container .input-fields .search-icon-div {
      display: flex;
      align-items: center;
      padding-right: 13px;
      margin-top: -5px; }
    div[class=form-container] .container .input-fields .icon {
      margin: auto; }
      div[class=form-container] .container .input-fields .icon span {
        font-size: 14px;
        font-family: arial,sans-serif;
        display: inline-block;
        fill: currentColor;
        line-height: 24px;
        position: relative;
        margin-top: 3px;
        color: #9aa0a6;
        height: 20px;
        width: 20px; }
        div[class=form-container] .container .input-fields .icon span svg {
          fill: currentColor;
          line-height: 24px;
          color: #9aa0a6;
          display: block;
          height: 100%;
          width: 100%; }
    div[class=form-container] .container .input-fields .search-input-div {
      display: flex;
      flex: 1;
      flex-wrap: wrap; }
      div[class=form-container] .container .input-fields .search-input-div .container {
        color: transparent;
        flex: 100%;
        white-space: pre;
        height: 34px; }
      div[class=form-container] .container .input-fields .search-input-div .search-input {
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.87);
        outline: none;
        display: flex;
        flex: 100%;
        -webkit-tap-highlight-color: transparent;
        margin-top: -37px;
        height: 34px;
        font-size: 16px; }
    div[class=form-container] .container .input-fields .mic-div {
      display: flex;
      flex: 0 0 auto;
      margin-top: -5px;
      align-items: stretch;
      flex-direction: row; }
      div[class=form-container] .container .input-fields .mic-div .icon {
        flex: 1 0 auto;
        display: flex;
        cursor: pointer;
        align-items: center;
        border: 0;
        background: transparent;
        outline: none;
        padding: 0 8px;
        width: 24px;
        line-height: 44px; }
      div[class=form-container] .container .input-fields .mic-div .mic {
        cursor: pointer;
        line-height: 44px;
        height: 24px;
        width: 24px;
        vertical-align: middle; }

div[class=lang-container] {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
  flex-shrink: 0;
  box-sizing: border-box;
  flex-grow: 1; }

div[class=footer-container] {
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #222;
  flex-shrink: 0;
  box-sizing: border-box;
  background: #f2f2f2; }

.c93Gbe {
  background: #f2f2f2; }

.uU7dJb {
  padding: 15px 30px;
  border-bottom: 1px solid #dadce0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54); }

.SSwjIe {
  padding: 0 20px; }

.KxwPGc {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

@media only screen and (max-width: 1200px) {
  .KxwPGc {
    justify-content: space-evenly; } }
.pHiOh {
  display: block;
  padding: 15px;
  white-space: nowrap; }

a.pHiOh {
  color: #70757a;
  text-decoration: none; }
  a.pHiOh:hover {
    text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
